@import "./variables";
@import "./mixins";

html,
body {
  height: 100%;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  a {
    &:hover {
      cursor: pointer;
      transition: color 0.3s;
    }
  }
}

header {
  background-color: $primary_bg;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  .restart-button {
    cursor: pointer;
    min-width: 50px;
    padding: 10px 20px;
    background-color: $bg_highlight;
    box-shadow: 0 2px 10px $shadow;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    margin-left: 5px;
    transition: transform 0.2s;

    &:hover {
      background-color: $bg_highlight_hover;
    }

    &:active {
      transform: scale(0.95);
    }
  }

  .gameOptions {
    width: 220px;
    display: flex;
    justify-content: end;
  }
}

main {
  flex: 1;
  padding: 20px;
  background-color: $primary_bg;

  &.memory-game {
    @include vertical-display;
    padding: 0 20px;

    .game-board {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: auto;
      max-width: 60vw;
      min-width: 50rem;

      // TBD media

      .card {
        @include horizontal-centered;
        cursor: pointer;
        font-size: 28px;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        position: relative;
        margin: 10px;

        &:hover {
          .card-inner {
            .card-front {
              background-color: $secondary_bg;
            }
          }
        }

        &.flipped,
        &.matched {
          background-color: $bg_highlight;
          cursor: default;
        }

        .card-inner {
          @include full-width-height;
          position: absolute;
          transition: transform 0.6s;
          transform-style: preserve-3d;

          .card-front,
          .card-back {
            @include full-width-height;
            @include horizontal-centered;
            position: absolute;
            border-radius: 50%;
            backface-visibility: hidden;
            background-color: $neutral;
            font-size: 24px;
          }

          .card-back {
            transform: rotateY(180deg);
            font-size: 40px;
          }
        }

        &.flipped {
          .card-inner {
            transform: rotateY(180deg);
          }
        }

        &.matched {
          .card-inner {
            transition: none;

            .card-front,
            .card-back {
              transform: none;
              border: 1px solid $bg_highlight;
              box-sizing: border-box;
            }
          }
        }
      }
    }
  }
}

footer {
  background-image: url("./assets/wave.svg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  min-height: 100px;

  .footer-content {
    max-width: 60%;
    margin: auto auto 0 20%;
    display: flex;

    svg {
      width: 35px;
    }

    p {
      @include vertical-display;
      padding-left: 10px;

      span {
        font-size: 14px;
        color: $neutral;

        &:nth-child(2) {
          color: $copyright;
          font-size: 12px;
          line-height: 1.5;

          a {
            color: inherit;

            &:hover {
              color: $owner_hover;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
