@mixin vertical-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin horizontal-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin full-width-height {
  width: 100%;
  height: 100%;
}
