// Background
$primary_bg: #e1fbf4;
$secondary_bg: #5cc1be;
$shadow: #ccc;

// Text
$primary: #000;
$neutral: #fff;
$copyright: #295453;
$owner_hover: $primary_bg;
$text_complete: #019d76;

// Highlight
$bg_highlight: #f5c542;
$bg_highlight_hover: #ffd04f;
$bg_select_highlight: #bee8dd;
$bg_select_btn: #70cecc;
$bg_select_btn_hover: #5cc1be;
$bg_indicator_complete: #00c897;
